@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #000;
  background-image: linear-gradient(to top right, #e2b810 0%, #ec3b05 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  margin: 0 20px;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* Elements */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #ee7d05;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #ee7d05;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #eee;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 3rem;
}
.btn--roll {
  top: 40rem;
}
.btn--hold {
  top: 46rem;
}
.btn--rules {
  display: flex;
  padding: 1.1rem 1rem;
  top: 3rem;
  left: auto;
  right: 0;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #d50b0b;
}

.hidden {
  display: none;
}

/* Popup */
.rules-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}

.rules {
  position: absolute;
  background: #e49a0d;
  width: 100%;
  height: 100%;
  max-width: 75rem;
  max-height: 45rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  box-shadow: 0 0.5rem 2rem rgb(255 255 255 / 40%);
  transition: all .2s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.rules__popup {
  position: relative;
}

.rules__popup-text {
  font-size: 2rem;
  color: #eee;
  text-align: center;
  user-select: none;
}

.rules__popup-text + .rules__popup-text {
  margin-top: 20px;
}

.rules__popup-text--pig {
  font-size: 9rem;
}

.rules__popup-close {
  background-image: url(images/cancel.png);
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  right: -90px;
  top: -72px;
  cursor: pointer;
  border-radius: 50%;
}

.rules__popup-close:active {
  transform: translate(0%, 3px);
  box-shadow: 0 .4rem .7rem rgba(255, 255, 255, 0.3);
}

.active {
  opacity: 1;
  z-index: 1;
}




/* MEDIA */
@media (max-width: 850px) {
  .rules {
    max-width: 45rem;
    max-height: 55rem;
  }
}

@media (max-width: 780px) {
  main {
    margin: 0 10px;
  }
  .player {
    padding: 9rem 4rem 17rem;
  }
  .current {
    padding: 2rem 1rem;
    width: 11rem;
  }
  .btn--roll {
    top: 46rem;
  }
  .btn--hold {
    top: 52rem;
  }
}

@media (max-width: 550px) {
  .rules {
    max-width: 27rem;
    max-height: 40rem;
    padding: 0 20px;
  }
  .rules__popup-text {
    font-size: 1.5rem;
  }
  .rules__popup-text--pig {
    font-size: 6rem;
  }
  .rules__popup-close {
    right: -58px;
    top: -24px;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0 5px;
    height: 55rem;
  }
  .player {
    padding: 9rem 2.5rem 17rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 1.5rem;
    padding: 1.1rem 2.5rem;
    display: flex;
  }
  .dice {
    height: 6rem;
    top: 14rem;
  }
  .score {
    font-size: 6rem;
  }
  .btn--roll {
    top: 42rem;
  }
  .btn--hold {
    top: 48rem;
  }
}

@media (max-width: 380px) {
  .btn {
    font-size: 1.4rem;
    padding: 1.1rem 1.5rem;
  }
  .rules {
    max-width: 22rem;
    max-height: 42rem;
    padding: 0 10px;
  }
  .rules__popup-close {
    right: -46px;
  }
  .rules__popup-text {
    font-size: 1.4rem;
  }
  .rules__popup-text--pig {
    font-size: 5rem;
  }
}